<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
    
    <div class="f-brand">&copy;Velora Private Limited</div>
    <div class="f-info-links">
        <a href="">Privacy</a> &nbsp;<a href="">Terms</a>
    </div>
    </div>
</footer>