body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.conatiner{
    flex: 1;
}
 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-route{
   /*  color: #ec5050; */
   color: rgb(73, 73, 249);
    font-size: 2rem;
 }
 .nav-link{
    color: #222222 !important;
 }


 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }
 .f-info-links a:hover {
    text-decoration: underline;

 }
 .f-info{
    height: 8rem;
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color: #ebebeb;
    align-items: center;
    
 }
 .f-info-social{
    font-size: 1.3rem;
 }

 .card{
    border: none !important;
    margin-bottom: 2rem;
    width: 95% !important;
 }
 .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
 }
 .card-body{
    margin: 0;
 }
 .listing-link{
    text-decoration: none;
 }
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.show-img{
    object-fit: cover;
    
    height: 40vh;
}
.link-div{
    display: flex;
    justify-content: start;
}
